.ems-breadcrumb {
    padding: 0 20px;
    ol {
        li {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            text-decoration: underline;
            &:not(:first-child) {
                &::before {
                    content: '|';
                    width: 24px;
                    height: 24px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transform: rotate(28deg);
                    overflow: hidden;
                }
            }
            > a {
                color: rgba(43, 42, 42, .7);
                padding: 10px 5px;
            }

            &.selected {
                text-decoration: none;
            }
        }
    }
    &-absolute{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: $z-index-drop;
        ol li{
            &:not(:first-child) {
                &::before {
                    color:rgba(255,255,255,0.7);
                }
            }
            >a{
                color:rgba(255,255,255,0.7);
            }
        }
        .swiper-slide{
            width: auto;
            height: auto;
        }
    }
}