//CUSTOM CFG

// Progress


//product widget
.swiper-pagination-progressbar {
    background: $color2;
    position: absolute;
    top: inherit !important;
    bottom: 0;
    width: calc(100% - 160px) !important;
    min-height: 2px;
    padding: 0;
  }
  
.swiper-product {
    $p: 20px;
    .swiper-slide {
        width: calc(100% / 3);
    }
    .ems-prd-inner{
        padding-left: 20px;
        padding-right: 20px;
        &:before{
            display: none;
        }
    }
}

//navigation
.slider-navigation {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}

//swipe only mobile
.mobi-swiper {
    &.slider-navigation {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
    &.slider-pagination {
        .swiper-pagination {
            display: none;
        }
    }
}

//horizontal content layout
.d-swiper-layout-r {
    > .swiper-inner {
        > .swiper-wrapper {
            flex-direction: row;
        }
    }
}

//vertical content layout
.d-swiper-layout-v {
    > .swiper-inner {
        > .swiper-wrapper {
            flex-direction: column;
        }
    }
}

//Detail Groups
.swiper-container-groups{
    .swiper-slide {
      width: 33.333%;
    }
  }