.ems-tab{
    &-header {
        display: flex;
        flex-wrap: wrap;

        > a {
            flex: 0 0 auto;
            max-width: 100%;
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-content{
        > div:not(.selected){
            display: none;
        }
    }
}