include __imports.pug

.ems-container-full
    .bulletin.ems-flex.p-l-20.p-r-20.p-t-80.p-lg-t-100.p-b-40.p-lg-b-60.m-auto
        .bulletin-wrapper.width-100
            .ems-section-title.m-b-10
                |Receive the latest updates from us
            .bulletin-form.position-relative
                form.ems-form(action="#", method="post")
                    .ems-field.ems-field-border-0
                        input(type="text" placeholder="Enter your e-mail address")
                    .bulletin-form-btn
                        button(class="btn btn-transparent" type="submit")
                            +icon('right')
        .bulletin-social.display-none.display-lg-flex.m-lg-t-auto.m-lg-l-auto
            a(href="javascript:void(0);" class="display-inline-flex ems-flex-middle ems-flex-center border-circle-4")
                +icon('facebook')
            a(href="javascript:void(0);" class="display-inline-flex ems-flex-middle ems-flex-center border-circle-4")
                +icon('instagram')
            a(href="javascript:void(0);" class="display-inline-flex ems-flex-middle ems-flex-center border-circle-4")
                +icon('twitter')
            a(href="javascript:void(0);" class="display-inline-flex ems-flex-middle ems-flex-center border-circle-4")
                +icon('linkedin')
            a(href="javascript:void(0);" class="display-inline-flex ems-flex-middle ems-flex-center border-circle-4")
                +icon('behance')
            a(href="javascript:void(0);" class="display-inline-flex ems-flex-middle ems-flex-center border-circle-4")
                +icon('pinterest')
            a(href="javascript:void(0);" class="display-inline-flex ems-flex-middle ems-flex-center border-circle-4")
                +icon('youtube')