- var developer_mode = false
- var lang = "tr-TR"
- var siteColor = "#EC6E00"
- var currency = "TL"
- var favicon = "/frontend/images/favicon/favicon-32x32.png"
- var favicon_android = "/frontend/images/favicon/android-icon-192x192.png"
- var favicon_ios = "/frontend/images/favicon/apple-icon-152x152.png"
- var pageTitle = "Ersa Mobilya - İyi Tasarımın 60 Yılı"
- var pageDesc = "ERSA, mobilyanın var olduğu her alanda, mümkün olan en fazla kişiye temas ederek, Türkiye ve dünya tüketicisinin mobilya, tasarım, üretim ve mimari ihtiyaçlarına yaratıcı ve kaliteli çözümler geliştirir."
- var pipeText = "|" 
- var pageClass = ""
- var fixedClass = ""