include __imports.pug

.widget-products.ems-section
    .swiper-container.swiper-product.swipper-product-edit(data-swiper="widgetAuto" )
        .swiper-inner
            ul.swiper-wrapper
                +product('swiper-slide', 'Polar', 'https://via.placeholder.com/800x800/DDDDDD/000000', 'by Ersa R&D + Design Team')
                +product('swiper-slide', 'Polar', 'https://via.placeholder.com/800x800/DDDDDD/000000', 'by Ersa R&D + Design Team')
                +product('swiper-slide', 'Polar', 'https://via.placeholder.com/800x800/DDDDDD/000000', 'by Ersa R&D + Design Team')
        .swiper-button-next
        .swiper-button-prev
        .swiper-pagination