include __imports.pug
.swiper-container.overflow-hidden.swiper-auto(data-swiper="widgetAuto" )
    .swiper-inner
        ul.swiper-wrapper.ems-tab-space-and-solutions-header
            li.swiper-slide.slide-active.swiper-slide-active.color-red.font-size-17.m-r-20
                a(href="javascript:void(0);" rel="tab-1" class="swiper-slide selected") All Formats
            li.swiper-slide.color-gray.font-size-17.m-r-20
                a(href="javascript:void(0);" rel="tab-2" class="swiper-slide") 2D Models
            li.swiper-slide.color-gray.font-size-17.m-r-20
                a(href="javascript:void(0);" rel="tab-3" class="swiper-slide") 3D Models
            li.swiper-slide.color-gray.font-size-17.m-r-20
                a(href="javascript:void(0);" rel="tab-4" class="swiper-slide") 3D Models
            li.swiper-slide.color-gray.font-size-17.m-r-20
                a(href="javascript:void(0);" rel="tab-5" class="swiper-slide") 3D Models
            li.swiper-slide.color-gray.font-size-17.m-r-20
                a(href="javascript:void(0);" rel="tab-6" class="swiper-slide") 3D Models     