//HIDDEN DESKTOP OBJECTS
@include setMediaScreen(max-width, $breakpoint-medium) {
    .ems-desktop {
        display: none !important;
    }
}

//UNNEEDED OBJECTS
.ems-login .ems-obj-logoff,
.ems-logoff .ems-obj-login {
    @extend .ems-none;
}

//GLOBAL
*,
::before,
::after {
    box-sizing: border-box;
}

::selection {
    background: $color2;
    color: $color3;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: $font-family;
    font-size: $font-size-14;
    color: $color1;
    font-weight: $font-weight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    background: $background;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

img,
canvas,
video {
    max-width: 100%;
    vertical-align: middle;
}

picture {
    display: block;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
select,
textarea {
    &:disabled {
        background: $color2 !important;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    th,
    td {
        padding: 0;
    }
}

iframe {
    border: none;
}

//<main>
.site-main {
    min-height: 500px;
}

//EMOS FRAMEWORK
.ems {
    //HIDDEN
    &-hidden {
        visibility: hidden;
    }
    &-none {
        display: none !important;
    }
    &-none0 {
        display: none;
    }
    //OVERLAY
    &-overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        /*z-index: $z-index-overlay;*/
        width: 100%;
        height: 100%;
        /*background: rgba($color: $color0, $alpha: .2);*/
        animation: show .5s ease;
    }
    //PAGE LOADING
    &-loading-overlay {
        /*background: url($loading-image) center center/80px no-repeat rgba($color: $color255, $alpha: .5);*/
        /*z-index: $z-index-notification;*/
        .ajx-loading & {
            display: block;
        }
    }
    //CONTAINER
    &-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: #{$container-gap};
        padding-right: #{$container-gap};
        &-full {
            padding-left: 0;
            padding-right: 0;
        }
        &-large {
            max-width: #{$container-large};
        }
        &-medium {
            max-width: #{$container-medium};
        }
        &-small {
            max-width: #{$container-small};
        }
    }
    //MESSAGE
    &-message {
        position: relative;
        /*
        background: $color255;
        color: $color0;
        */
        font-size: 16px;
        line-height: 1.5;
        padding: 20px;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        >i {
            font-size: 36px;
            margin: 0 0 10px 0;
            animation: message .5s ease;
        }
        >p {
            margin: 0;
            +p {
                margin-top: 10px;
            }
            &:empty {
                @extend .ems-none;
            }
        }
        &-error {
            /*background: $color255;
            color: $color29;*/
            border-color: currentColor;
        }
        &-success {
            /*background: $color255;
            color: $color30;
            border-color: currentColor;*/
        }
        &-horizontal {
            /*font-size: $font-size;*/
            min-height: auto;
            padding: 20px;
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
            >i {
                font-size: 32px;
                margin: 0 10px 0 0;
            }
        }
        &:empty {
            @extend .ems-none;
        }
        *+&,
        &+* {
            margin-top: 20px !important;
        }
    }
    //ASPECT RATIO - https://getbootstrap.com/docs/4.0/utilities/embed/#example
    &-responsive {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
        &::before {
            content: "";
            display: block;
            background: $bg-loading;
            padding-top: 100%; //.xx {@include aspect-ratio(450, 600);}
        }
        &-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    //VIDEO
    &-video-player {
        position: relative;
        &.is-play {
            .i-play {
                opacity: 0;
                transition: all .2s ease;
            }
            &:hover {
                .i-play {
                    opacity: 1;
                }
            }
        }
    }
    //FLEX
    &-flex {
        display: flex;
        &-inline {
            display: inline-flex;
        }
        //horizontal align
        &-left {
            justify-content: flex-start;
        }
        &-center {
            justify-content: center;
        }
        &-right {
            justify-content: flex-end;
        }
        &-between {
            justify-content: space-between;
        }
        //vertical align
        &-top {
            align-items: flex-start;
        }
        &-middle {
            align-items: center;
        }
        &-bottom {
            align-items: flex-end;
        }
        //direction
        &-row {
            flex-direction: row;
        }
        &-row-reverse {
            flex-direction: row-reverse;
        }
        &-column {
            flex-direction: column;
        }
        &-column-reverse {
            flex-direction: column-reverse;
        }
        //wrap
        &-wrap {
            flex-wrap: wrap;
        }
        //item size
        &-none {
            flex: none;
        }
        &-auto {
            flex: auto;
        }
        &-1 {
            flex: 1;
        }
        &-100 {
            flex-basis: 100%;
        }
    }
    //GRID
    &-grid {
        display: grid;
        >* {
            overflow: hidden;
        }
    }
    @at-root {
        @for $i from 1 through 12 {
            .ga#{$i} {
                grid-area: ga#{$i};
            }
        }
    }
    //SECTION
    &-section {
        position: relative;
        &-title {
            font-family: $font-family;
            font-size: 15px;
            color: $color1;
        }
        &-title1 {
            font-family: $font-family2;
            font-size: 24px;
        }
        &-desc {}
        //section wrapper related objects are here > 'components/section'
    }
    //TEXT
    &-text {
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
    }
    //OVERFLOW
    &-overflow {
        &-visible {
            overflow: visible !important;
        }
        &-hidden {
            overflow: hidden !important;
        }
    }
    //ROTATE - default bottom direction
    &-rotate {
        &-top {
            @include setTurn(180);
        }
        &-right {
            @include setTurn(-90);
        }
        &-bottom {
            @include setTurn(0);
        }
        &-left {
            @include setTurn(90);
        }
        &-mirror {
            @include turn-mirror;
        }
    }
    //CUSTOM SCROLLBAR
    &-scrollbar {
        $scrollbar-width: 2px;
        $scrollbar-padding: 4px;
        $scrollbar-height: 10px;
        overflow: auto !important;
        max-height: 100vh;
        padding-right: $scrollbar-padding;
        &::-webkit-scrollbar {
            width: $scrollbar-width;
        }
        &::-webkit-scrollbar-track {
            background: #d8d8d8;
        }
        &::-webkit-scrollbar-thumb {
            background: #000;
        }
        &-horizontal {
            padding-right: 0;
            &::-webkit-scrollbar {
                width: auto;
                height: $scrollbar-height;
            }
        }
        &-hide {
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    //TABLE
    &-table-overflow {
        overflow: auto;
        padding-bottom: 10px;
        width: 100%;
        table {
            tr {
                &:nth-child(odd) {
                    td {
                        background: #f2f2f2;
                        &:nth-child(even) {
                            background: #e5e5e5;
                        }
                    }
                }
            }
            th,
            td {
                width: 1%;
                padding: 13px 10px;
                text-align: center;
            }
            th {
                /*background: $color3;
                color: $color255;*/
                font-weight: 700;
            }
            td {
                font-size: 16px;
                background: #fff;
                &:nth-child(even) {
                    background: #f2f2f2;
                }
            }
            +table {
                margin-top: 30px;
            }
        }
    }
    //COOKIE NOTIFICATION
    &-cookie-notification {
        display: none;
        position: fixed;
        left: 0;
        bottom: 0;
        /*z-index: $z-index-notification;*/
        width: 100%;
        /*background: $color255;*/
        padding: $container-gap;
        .ems-section-title {
            /*font-size: $font-size;*/
            font-weight: 700;
            margin-bottom: 0;
        }
        .ems-section-desc {
            font-size: 12px;
        }
        &.show {
            display: block;
        }
    }
    //MISC
    &-link {
        display: inline;
        text-decoration: underline;
    }
    &-bg-plus {
        background-image: $bg-plus;
        background-position: center right;
        background-repeat: no-repeat;
    }
    &-bg-minus {
        background-image: $bg-minus;
        background-position: center right;
        background-repeat: no-repeat;
    }
    &-list {
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;
    }
    &-circled {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        /*border: 1px solid $color26;*/
        border-radius: 100%;
        padding: 0 5px;
    }
    &-qty {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 19px;
        height: 19px;
        /*background: $color26;*/
        border-radius: 100%;
        padding: 0 5px;
        margin: 0 5px;
        font-size: 12px;
        /*&-dark {
            background: $color0;
            color: $color255;
        }*/
    }
}

//DISPLAY ELEMENTS
.display {
    &-none {
        display: none;
    }
    &-block {
        display: block;
    }
    &-inline-flex {
        display: inline-flex;
    }
    &-inline-block {
        display: inline-block;
    }
}

//BORDER RADIUS
.border-circle {
    &-2 {
        border-radius: 2px;
    }
    &-4 {
        border-radius: 4px;
    }
    &-6 {
        border-radius: 6px;
    }
    &-100 {
        border-radius: 100%;
    }
}

//POSITION SELECT
.position {
    &-relative {
        position: relative;
    }
    &-absolute {
        position: absolute;
    }
    &-fixed {
        position: fixed;
    }
}

//MARGIN ELEMENTS
.m {
    //VARIABLES
    $m0: 0;
    $m5: 5px;
    $m10: 10px;
    $m15: 15px;
    $m20: 20px;
    $m25: 25px;
    $m30: 30px;
    $m35: 35px;
    $m40: 40px;
    $m50: 50px;
    $m80: 80px;
    $m82: 82px;
    $m100: 100px;
    
    //VARIABLES
    //AUTO
    &-auto {
        margin: auto auto auto auto;
    }
    //RESET
    &-0 {
        margin: 0 0 0 0;
    }
    //FULL 5
    &-5 {
        margin: $m5 $m5 $m5 $m5;
    }
    //FULL 10
    &-10 {
        margin: $m10 $m10 $m10 $m10;
    }
    //FULL 15
    &-15 {
        margin: $m15 $m15 $m15 $m15;
    }
    //FULL 20
    &-20 {
        margin: $m20 $m20 $m20 $m20;
    }
    //FULL 30
    &-30 {
        margin: $m30 $m30 $m30 $m30;
    }
    //FULL 40
    &-40 {
        margin: $m40 $m40 $m40 $m40;
    }
    //MARGIN TOP 5
    &-t-5 {
        margin-top: $m5;
    }
    //MARGIN RIGHT 5
    &-r-5 {
        margin-right: $m5;
    }
    //MARGIN LEFT 5
    &-l-5 {
        margin-left: $m5;
    }
    //MARGIN BOTTOM 5
    &-b-5 {
        margin-bottom: $m5;
    }
    //MARGIN TOP 10
    &-t-10 {
        margin-top: $m10;
    }
    &-t-80 {
        margin-top: $m80;
    }
    &-t-82 {
        margin-top: $m82;
    }
    &-t-100 {
        margin-top: $m100;
    }
    
    //MARGIN RIGHT 10
    &-r-10 {
        margin-right: $m10;
    }
    //MARGIN LEFT 10
    &-l-10 {
        margin-left: $m10;
    }
    //MARGIN BOTTOM 10
    &-b-10 {
        margin-bottom: $m10;
    }
    //MARGIN TOP 15
    &-t-15 {
        margin-top: $m15;
    }
    //MARGIN RIGHT 15
    &-r-15 {
        margin-right: $m15;
    }
    //MARGIN LEFT 15
    &-l-15 {
        margin-left: $m15;
    }
    //MARGIN BOTTOM 15
    &-b-15 {
        margin-bottom: $m15;
    }
    //MARGIN TOP 20
    &-t-20 {
        margin-top: $m20;
    }
    //MARGIN RIGHT 20
    &-r-20 {
        margin-right: $m20;
    }
    //MARGIN LEFT 20
    &-l-20 {
        margin-left: $m20;
    }
    //MARGIN BOTTOM 20
    &-b-20 {
        margin-bottom: $m20;
    }
    //MARGIN TOP 25
    &-t-25 {
        margin-top: $m25;
    }
    //MARGIN RIGHT 25
    &-r-25 {
        margin-right: $m25;
    }
    //MARGIN LEFT 25
    &-l-25 {
        margin-left: $m25;
    }
    //MARGIN BOTTOM 25
    &-b-25 {
        margin-bottom: $m25;
    }
    //MARGIN TOP 30
    &-t-30 {
        margin-top: $m30;
    }
    //MARGIN RIGHT 30
    &-r-30 {
        margin-right: $m30;
    }
    //MARGIN LEFT 30
    &-l-30 {
        margin-left: $m30;
    }
    //MARGIN BOTTOM 30
    &-b-30 {
        margin-bottom: $m30;
    }
    //MARGIN TOP 35
    &-t-35 {
        margin-top: $m35;
    }
    //MARGIN RIGHT 35
    &-r-35 {
        margin-right: $m35;
    }
    //MARGIN LEFT 35
    &-l-35 {
        margin-left: $m35;
    }
    //MARGIN BOTTOM 35
    &-b-35 {
        margin-bottom: $m35;
    }
    //MARGIN TOP 40
    &-t-40 {
        margin-top: $m40;
    }
    //MARGIN RIGHT 40
    &-r-40 {
        margin-right: $m40;
    }
    //MARGIN LEFT 40
    &-l-40 {
        margin-left: $m40;
    }
    //MARGIN BOTTOM 40
    &-b-40 {
        margin-bottom: $m40;
    }
    //MARGIN TOP 50
    &-t-50 {
        margin-top: $m50;
    }
    //MARGIN RIGHT 50
    &-r-50 {
        margin-right: $m50;
    }
    //MARGIN LEFT 50
    &-l-50 {
        margin-left: $m50;
    }
    //MARGIN BOTTOM 50
    &-b-50 {
        margin-bottom: $m50;
    }
    //LEFT 0
    &-l-0 {
        margin-left: 0;
    }
    //LEFT 0
    &-r-0 {
        margin-right: 0;
    }
    //BOTTOM 0
    &-b-0 {
        padding-bottom: 0;
    }
    //TOP AUTO
    &-t-auto {
        margin-top: auto;
    }
    //LEFT AUTO
    &-l-auto {
        margin-left: auto;
    }
    //RIGHT AUTO
    &-r-auto {
        margin-right: auto;
    }
    //BOTTOM AUTO
    &-b-auto {
        margin-bottom: auto;
    }
    &-b-0 {
        margin-bottom: 0;
    }
}

//PADDING ELEMENTS
.p {
    //VARIABLES
    $p0: 0px;
    $p5: 5px;
    $p10: 10px;
    $p15: 15px;
    $p20: 20px;
    $p30: 30px;
    $p40: 40px;
    $p50: 50px;
    $p60: 60px;
    $p70: 70px;
    $p80: 80px;
    //VARIABLES
    //FULL 5
    &-5 {
        padding: $p5 $p5 $p5 $p5;
    }
    //FULL 10
    &-10 {
        padding: $p10 $p10 $p10 $p10;
    }
    //FULL 20
    &-20 {
        padding: $p20 $p20 $p20 $p20;
    }
    //FULL 30
    &-30 {
        padding: $p30 $p30 $p30 $p30;
    }
    //FULL 40
    &-40 {
        padding: $p40 $p40 $p40 $p40;
    }
    // LEFT TO RIGHT
    &-x-10 {
        padding: 0 $p10 0 $p10;
    }
    &-x-20 {
        padding: 0 $p20 0 $p20;
    }
    //TOP TO BOTTOM
    &-y-10 {
        padding: $p10 0 $p10 0;
    }
    &-y-20 {
        padding: $p20 0 $p20 0;
    }
    //PADDING TOP 0
    &-t-0 {
        padding-top: $p0 !important;
    }
    //PADDING TOP 5
    &-t-5 {
        padding-top: $p5;
    }
    //PADDING RIGHT 5
    &-r-5 {
        padding-right: $p5;
    }
    //PADDING LEFT 5
    &-l-5 {
        padding-left: $p5;
    }
    //PADDING BOTTOM 5
    &-b-5 {
        padding-bottom: $p5;
    }
    //PADDING TOP 10
    &-t-10 {
        padding-top: $p10;
    }
    //PADDING RIGHT 10
    &-r-10 {
        padding-right: $p10;
    }
    //PADDING LEFT 10
    &-l-10 {
        padding-left: $p10;
    }
    //PADDING BOTTOM 10
    &-b-10 {
        padding-bottom: $p10;
    }
    //PADDING TOP 15
    &-t-15 {
        padding-top: $p15;
    }
    //PADDING RIGHT 15
    &-r-15 {
        padding-right: $p15;
    }
    //PADDING LEFT 15
    &-l-15 {
        padding-left: $p15;
    }
    //PADDING BOTTOM 15
    &-b-10 {
        padding-bottom: $p15;
    }
    //PADDING TOP 20
    &-t-20 {
        padding-top: $p20;
    }
    //PADDING RIGHT 20
    &-r-20 {
        padding-right: $p20;
    }
    //PADDING LEFT 20
    &-l-20 {
        padding-left: $p20;
    }
    //PADDING BOTTOM 20
    &-b-20 {
        padding-bottom: $p20;
    }
    //PADDING TOP 30
    &-t-30 {
        padding-top: $p30;
    }
    //PADDING RIGHT 30
    &-r-30 {
        padding-right: $p30;
    }
    //PADDING LEFT 30
    &-l-30 {
        padding-left: $p30;
    }
    //PADDING BOTTOM 30
    &-b-30 {
        padding-bottom: $p30;
    }
    //PADDING TOP 40
    &-t-40 {
        padding-top: $p40;
    }
    //PADDING RIGHT 40
    &-r-40 {
        padding-right: $p40;
    }
    //PADDING LEFT 40
    &-l-40 {
        padding-left: $p40;
    }
    //PADDING BOTTOM 40
    &-b-40 {
        padding-bottom: $p40;
    }
    //PADDING TOP 50
    &-t-50 {
        padding-top: $p50;
    }
    //PADDING RIGHT 50
    &-r-50 {
        padding-right: $p50;
    }
    //PADDING LEFT 50
    &-l-50 {
        padding-left: $p50;
    }
    //PADDING BOTTOM 50
    &-b-50 {
        padding-bottom: $p50;
    }
    //PADDING TOP 60
    &-t-60 {
        padding-top: $p60;
    }
    //PADDING RIGHT 60
    &-r-60 {
        padding-right: $p60;
    }
    //PADDING LEFT 60
    &-l-60 {
        padding-left: $p60;
    }
    //PADDING BOTTOM 60
    &-b-60 {
        padding-bottom: $p60;
    }
    //PADDING TOP 70
    &-t-70 {
        padding-top: $p70;
    }
    //PADDING RIGHT 70
    &-r-70 {
        padding-right: $p70;
    }
    //PADDING LEFT 70
    &-l-70 {
        padding-left: $p70;
    }
    //PADDING BOTTOM 70
    &-b-70 {
        padding-bottom: $p70;
    }
    //PADDING TOP 80
    &-t-80 {
        padding-top: $p80;
    }
    //PADDING RIGHT 80
    &-r-80 {
        padding-right: $p80;
    }
    //PADDING LEFT 80
    &-l-80 {
        padding-left: $p80;
    }
    //PADDING BOTTOM 80
    &-b-80 {
        padding-bottom: $p80;
    }
}

//ORDER ELEMENTS
.order {
    &-1 {
        order: 1;
    }
    &-2 {
        order: 2;
    }
    &-3 {
        order: 3;
    }
    &-4 {
        order: 4;
    }
    &-5 {
        order: 5;
    }
    &-6 {
        order: 6;
    }
    &-7 {
        order: 7;
    }
    &-8 {
        order: 8;
    }
    &-9 {
        order: 9;
    }
    &-10 {
        order: 10;
    }
}

//TEXT COLOR
.color {
    &-white {
        color: #fff;
    }
    &-black {
        color: $color1;
    }
    &-red {
        color: $color3;
    }
    &-gray {
        color: $color7;
    }
}

//STANDART WIDTH
.width {
    &-auto {
        width: auto;
    }
    &-50 {
        width: 50%;
    }
    &-100 {
        width: 100%;
    }
}

.seperator {
    width: 1px;
    height: 20px;
    background-color: rgba(186, 191, 194, 0.4);
    margin: 0 20px;
}

//LAZY LOAD
.lazy-load {
    opacity: 0;
}

.image-loaded {
    opacity: 1;
}

.lazy-picture~img {
    background: $bg-loading;
}

// FONT SIZE
.font-size {
    &-36 {
        font-size: 36px;
    }
    &-32 {
        font-size: 32px;
    }
    &-24 {
        font-size: 24px;
    }
    &-20 {
        font-size: 20px !important;
    }
    &-17 {
        font-size: 17px;
    }
    &-16 {
        font-size: 16px;
    }
    &-15 {
        font-size: 15px;
    }
    &-14 {
        font-size: 14px;
    }
}

// FONT WEIGHT
.font-weight {
    &-bold {
        font-weight: bold;
    }
}

// LINE HEIGHT
.line-height {
    &-1-4 {
        line-height: 1.4;
    }

    &-1-5 {
        line-height: 1.5;
    }

    &-24 {
        line-height: 24px;
    }

    &-28 {
        line-height: 28px;
    }

    &-37 {
        line-height: 37px;
    }
}