extends includes/_layout.pug

block prepend head
    - var pageClass = "page new-and-stories-detail-page"

block content
    .ems-container-lg
        .d-ems-grid.d-ems-grid-cover-top
            .d-ems-area-a
                include includes/_breadcrumb.pug
        .ems-flex.ems-flex-column.p-t-80.p-b-40.new-and-stories-detail-content
            .ems-prd-title
                h1.font-size-32.font-weight-bold How Are Offices Evolving?
            .ems-prd-info.ems-flex.ems-flex-row.ems-flex-between.m-t-40.m-b-40
                .ems-prd-info-left.ems-flex.ems-flex-column.font-size-15.font-weight-bold
                    span.p-b-10 Posted
                    span Category
                .ems-prd-info-right.ems-flex.ems-flex-column.font-size-15
                    span.p-b-10 March 21, 2019
                    span Article
            .ems-flex.ems-flex-column
                +picture('ems-responsive', 'no', 'https://via.placeholder.com/375x475', 'https://via.placeholder.com/1400x1170', 'https://via.placeholder.com/1400x1170')
                .m-t-40.font-size-20.line-height-1-4 what we’ve traditionally called the “office” is changing. As technology increases its foothold in our lives and changes the way we work, more companies are using less space and fewer permanent desks. In the next 10 to 15 years, we may see new artificial intelligence that will automate repetitive tasks and allow offices to be a gathering space for critical thinkers and problem solvers, rather than a place for work. But many questions remain: What are the technologies to look out for and adapt to? What does a high-tech office look like now? We asked ESD's workplace practice leader, Nathan Snydacker, and technology services practice leader Nick Lawrence to gaze into a crystal ball.

                h3.font-size-24.font-weight-bold.m-t-40 Flexible and Expandable

                .m-t-20.line-height-1-4.font-size-16.m-b-40 One of the tech trend’s biggest catalysts is companies that have bucked the traditional, organic growth model. Designing a space for these companies can be difficult, because who knows how big they’ll be in six months, let alone seven to 10 years? For Nathan and Nick, the key is using a modular approach that ensures enough give or take within lease restrictions and limited space availability. So when looking at HVAC zoning, electrical distribution or cable installation, Nathan constantly thinks of how it can be expanded or reduced as necessary. With this in mind, Nick often discusses the idea of a seamless wireless environment with his clients, where the wireless network is a natural extension of the wired physical network, but the information and security requirements are common. He also discusses the convergence of networks, where users can have their data networks on one physically converged network, such as putting physical security devices on the building’s automation system. This convergence not only allows users to limit capital investment and infrastructure footprint, but helps create future flexibility by minimizing cables through walls and floors tethering workstations.

            .ems-flex.ems-flex-column
                +picture('ems-responsive', 'no', 'https://via.placeholder.com/700x450', 'https://via.placeholder.com/1400x900', 'https://via.placeholder.com/1400x900')

                h3.font-size-24.font-weight-bold.m-t-40 The Future of WiFi

                .m-t-20.line-height-1-5.font-size-16 One of the tech trend’s biggest catalysts is companies that have bucked the traditional, organic growth model. Designing a space for these companies can be difficult, because who knows how big they’ll be in six months, let alone seven to 10 years? For Nathan and Nick, the key is using a modular approach that ensures enough give or take within lease restrictions and limited space availability. So when looking at HVAC zoning, electrical distribution or cable installation, Nathan constantly thinks of how it can be expanded or reduced as necessary. With this in mind, Nick often discusses the idea of a seamless wireless environment with his clients, where the wireless network is a natural extension of the wired physical network, but the information and security requirements are common. He also discusses the convergence of networks, where users can have their data networks on one physically converged network, such as putting physical security devices on the building’s automation system. This convergence not only allows users to limit capital investment and infrastructure footprint, but helps create future flexibility by minimizing cables through walls and floors tethering workstations.
            .new-and-stories-border
