extends includes/_layout.pug


block prepend head
    - var pageClass = "page our-solution-partners"
    

block content
    .ems-container-lg
        include includes/_breadcrumb.pug
        div.m-t-30.m-b-20.m-lg-t-80.m-lg-b-40.p-l-20.p-lg-l-0
            h1.font-size-32.line-height-36.font-weight-bold Our Solution Partners
    //OUR BANNER GRID
    .ems-container-lg
        .ems-flex.ems-flex-wrap.ems-flex-our-solution-partners-list
            -for (var y = 1; y <= 2; y++)
                .ems-list-item.m-b-40.m-lg-b-0
                    .ems-card.position-relative
                        .ems-card-image.m-b-20.m-lg-b-0
                            +image('no','https://via.placeholder.com/1240x1440')
                        .ems-card-title.font-weight-bold.font-size-24.font-size-lg-32.line-height-lg-36.ems-flex.ems-flex-middle.ems-flex-between.d-ems-flex-center.p-l-20.p-r-20.p-lg-l-0.p-lg-r-0
                            span Cappellini
                            +icon('right-arrow')