extends includes/_layout.pug

block prepend head
    - var pageClass = "page our-story"
    - var fixedClass = " fixed"

block content
    .ems-breadcrumb-absolute
        include includes/_breadcrumb.pug
    a(href="#1" class="banner display-block")
        .banner-image
            +picture('ems-responsive', 'no', 'http://via.placeholder.com/375x667', 'http://via.placeholder.com/750x1334', 'http://via.placeholder.com/2880x1580')
        .banner-content
            h1.color-white.font-size-32.font-size-lg-36.line-height-37.font-weight-bold Our Story
    .sticky-menu.ems-container
        .ems-container-small.m-r-auto.m-l-auto.p-lg-l-30.p-lg-r-30
            .swiper-container(data-swiper="widgetAuto")
                .swiper-inner
                    ul.swiper-wrapper
                        li(rel="who-we-are").swiper-slide.selected
                            a(href="#") Who we are
                        li(rel="our-values").swiper-slide
                            a(href="#") Our values
                        li(rel="craftmanship").swiper-slide
                            a(href="#") Craftmanship
                        li(rel="sustainability").swiper-slide
                            a(href="#") Sustainability
                        li(rel="designers").swiper-slide
                            a(href="#") Designers
                        li(rel="awards").swiper-slide
                            a(href="#") Awards
    .ems-container-small.m-r-auto.m-l-auto.m-lg-t-80.p-lg-l-30.p-lg-r-30.ems-container
        article
            p.m-0.font-size-20.line-height-28 Ersa, founded by Metin Atabey Ata in 1958, Sivas, has raised one of the pioneers of the furniture sector in Turkey with giving importance to innovation and design. The simple architectural design of the factory in harmony with the environment is a reflection of the sustainable production approach that Ersa adopts. Spread on approximately 60,000 square meters and equipped with state-of-the-art production technologies, the factory has the capacity to process 4.5 million square meters of panel boards, 500,000 running meters of laminated panels, and 530,000 pieces of furniture in one shift.
            p.m-t-40.m-b-0.font-size-16.line-height-24 Ersa, which offers innovative and high quality solutions for architectural needs of its users in Turkey and all around the world, has a noteworthy export success in the international arena with the average export rate three times more than the industry average of Turkey. 

    .ems-container.m-t-30.m-lg-t-100
        .ems-grid.our-story-grid-1
            .ems-grid-item
                +picture('ems-responsive', 'no', 'http://via.placeholder.com/375x667', 'http://via.placeholder.com/750x1334', 'http://via.placeholder.com/2880x1580')
            .ems-grid-item.m-t-30.m-lg-t-0
                article
                    p.m-0.font-size-16.line-height-24 Ersa is analyzing the needs of the users and places in the best way, based on the concepts of life and work, which are getting new and interrelated definitions thanks to technology. Ersa offers approaches to shape the future of living and working spaces that are constantly changing with the ideas and designs they have developed. Within the framework of corporate sustainability, Ersa supports environmentalist production and design understanding. With its R & D and innovation-oriented investments, Ersa always aims to provide innovative designs at global standards.
                    p.m-b-0.m-t-40.font-size-16.line-height-24 Ersa, collaborating with important designers from Turkey and all around the world; has over 50 prestigious awards both nationally and internationally, including Red Dot, Good Design and Design Turkey, also Ersa is represantative in Turkey the world-famous furniture brands like Haworth, Cappelini and Quadrifoglio. In March, Ersa launched its first R & D center in the office furniture category with an investment of approximately 3 million TL also has signed a first by registering the Design Center that it has established in the Altunizade building in Istanbul by the Ministry of Science, Industry and Technology. Ersa aims to expand its domestic growth on a global scale by taking part in TURQUALITY® Support Program in 2017.
                    p.m-b-0.m-t-40.font-size-16.line-height-24 Ersa, which continues its growth focused on design and innovation every year, welcomed the 60th anniversary of its establishment with the products it developed for living spaces as well as working spaces. Ersa has launched its Life series at 14th Istanbul Furniture Fair for the first time. Ersa, which meets its users for living spaces in its 60th years, has launched its first life themed store in HOM Design Center.
                    p.m-b-0.m-t-40.font-size-16.line-height-24 As of 2019, Ersa is presenting its living spaces in Ankara Officium Beytepe, as well as its living spaces. Ersa aims to provide faster and more accurate service with its new stores in Istanbul, Ankara, Izmir and Izmit, as well as stores in Bursa, Adana, Antalya and Trabzon.

    .our-history.m-t-40.m-lg-t-100
        h1.font-size-32.font-weight-bold Our History

        .our-history-tab.ems-tab
            .m-lg-t-40.ems-container.m-t-20.m-b-20
                include includes/_widget-swiper-nav.pug
            .ems-tab-content.m-lg-t-80
                div(rel="tab-1").selected
                    .our-story-row-1
                        .ems-container
                            .ems-grid.our-story-grid-2
                                .ems-grid-item
                                    .banner
                                        .banner-image
                                            +picture('ems-responsive', 'no', 'http://via.placeholder.com/730x610', 'http://via.placeholder.com/1460x1220')
                                        .banner-content
                                            h2 
                                                <span>The</span> 50s & 60s
                                .ems-grid-item.p-lg-r-65.m-t-30.m-lg-t-0
                                    div
                                        small.font-size-14 1958
                                        h2.font-size-24.line-height-normal.line-height-lg-24.font-weight-bold.m-t-8 A Metal Atelier in Sivas
                                    div.m-t-20
                                        small.font-size-14 1962
                                        h2.font-size-24.line-height-normal.line-height-lg-24.font-weight-bold.m-t-8 Obtaining of First Commericial Order From the State Materials Directorate (DMO)
                div(rel="tab-2") 
                    .ems-container-large.m-r-auto.m-l-auto.m-lg-t-100.p-lg-l-110.p-lg-r-110 
                        p.font-size-20.line-height-24 tab content 2
                div(rel="tab-3") 
                    .ems-container-large.m-r-auto.m-l-auto.m-lg-t-100.p-lg-l-110.p-lg-r-110
                        p.font-size-20.line-height-24 tab content 3
                div(rel="tab-4")
                    .ems-container-large.m-r-auto.m-l-auto.m-lg-t-100.p-lg-l-110.p-lg-r-110
                        p.font-size-20.line-height-24 tab content 4
        .our-story-row-2.m-t-60.m-lg-t-0
            .ems-container
                .position-relative
                    .ems-container-small.p-lg-r-60
                        .p-lg-r-80
                            h3.font-size-32.font-weight-bold Our values
                            p.font-size-20.line-height-25.m-b-0.m-t-10 A brand driven by the ultimate satisfaction of its employees and customers...
                            h4.m-t-40.m-lg-t-80.font-size-20.line-height-28.font-weight-bold Pioneer In Innovation With High Added Value In The Furniture Sector for 60 Years
                            p.font-size-16.line-height-24 From workspaces to living areas, representing high qualified manufacture principle with a wide range design products and leading innovation with high added value, Ersa has the vision to raise its brand to compete with worldwide brands.
                            p.font-size-16.line-height-24.m-b-0 With the mission of providing the most appropriate furniture solution to the needs of its users and spaces with the production techniques and design products developed within the framework of design and production concept based on the principles of sustainability which are high-qualified, long-term use, ergonomic, functional and within aesthetic concerns.
                    .banner-absolute.m-t-40.m-lg-t-0
                        img(src="http://via.placeholder.com/510x594" alt="Our Values")
                    .ems-container-small.m-t-40.m-lg-t-80.p-lg-r-60
                        h5.font-size-20.font-weight-bold We, as our business ethics:
                        ul.m-t-20.ems-list.p-l-20
                            li.font-size-16.line-height-24 Follow the principle of working by adhering to its commitments. 
                            li.font-size-16.line-height-24 Value the importance of delivering on its stpromises and acting fairly and respectfully.
                            li.font-size-16.line-height-24 Believe in teamwork and spirit, ensuring that all activities are carried out in line with these beliefs.
                            li.font-size-16.line-height-24 Take care to communicate effectively with all stakeholders.
                            li.font-size-16.line-height-24 Listen to its clients and suppliers, and strives to meet their demands and needs in the shortest time possible.
                            li.font-size-16.line-height-24 Consider the creation of new ideas, designs, products and services as the basis for competition.
                            li.font-size-16.line-height-24 Adopt a production approach that respects people and the environment with its sustainability philosophy.
    .ems-container.m-t-40.m-lg-t-100
            .p-lg-l-110
                .ems-container-small.p-lg-l-30.p-lg-r-30
                    h3.font-size-32.font-weight-bold Craftmanship
                    p.font-size-20.line-height-28.m-b-0 Operating with the mission of being present in all spaces where furniture exists, Ersa offers innovative solutions for workspaces with functional and ergonomic products.
                    p.font-size-16.line-height-28.m-lg-t-40 The simple architectural design of the factory in harmony with the environment is a reflection of the sustainable production approach that Ersa adopts. Spread on approximately 60,000 square meters and equipped with state-of-the-art production technologies, the factory has the capacity to process 4.5 million square meters of panel boards, 500,000 running meters of laminated panels, and 530,000 pieces of furniture in one shift. <br> <br> With an environmentally friendly infrastructure developed by Ersa, the factory uses the unrecyclable sawdust created during production for heating. The transparent panels on the roof let natural light in during the day, reducing electricity consumption, while the filtration system installed in the factory chimneys ensures that air is not polluted.
            .ems-grid.our-story-grid-4.m-lg-t-115
                .ems-grid-item
                    +picture('ems-responsive', 'no', 'http://via.placeholder.com/620x722', 'http://via.placeholder.com/1240x1444', 'http://via.placeholder.com/1860x2166')
                .ems-grid-item
                    .m-lg-t-80
                        p.font-size-16.line-height-24 The factory, with state-of-the-art and environmentally friendly technologies and equipment, is among the most modern and advanced production facilities in Europe that generates minimum waste. <br> <br> As the holder of ISO 9001:2008, ISO 14001, ISO 10002, OHSAS 18001, Q-Mark BS 476-22 and all necessary TSI conformity certifications, Ersa test lifecycles of raw materials and accessories in five fields. <br> <br> Ersa exports its quality assured products to various markets in Europe, Americas, Africa, and the Middle East.
                        .m-lg-t-82
                            a(href="#").ems-flex.ems-flex-middle.color-red.font-weight-bold
                                span Certification ISO 50001:2018
                                +icon('right-arrow')
                            a(href="#").ems-flex.ems-flex-middle.m-t-17.color-red.font-weight-bold
                                span Certification ISO 10002:2004
                                +icon('right-arrow')
                            a(href="#").ems-flex.ems-flex-middle.m-t-17.color-red.font-weight-bold
                                span Certification ISO 9001:201
                                +icon('right-arrow')
                            a(href="#").ems-flex.ems-flex-middle.m-t-17.color-red.font-weight-bold
                                span Certification OHSAS 18001:2007
                                +icon('right-arrow')
                            a(href="#").ems-flex.ems-flex-middle.m-t-17.color-red.font-weight-bold
                                span Certification ISO 14001:2015
                                +icon('right-arrow')
            .our-story-row-3.m-t-60.m-lg-t-100.p-t-60.p-lg-t-100.p-lg-b-100.p-lg-l-80
                .ems-grid.our-story-grid-5
                    .ems-grid-item
                        h3.font-size-32.font-weight-bold Sustainability
                        p.font-size-20.line-height-28.m-b-0.m-t-10 BoXer, Turkey’s cutting-edge design company focusing on innovation and strategy joined its  forces with PE International, the global leader in product sustainability services and solutions.
                        p.font-size-16.line-height-24 The Eco Design Project for Ersa” is one the first implementations of this fruitful collaboration. The project focuses on green product design as well as green business model design. Taking into consideration the fact that 80% of environmental impacts can be influenced during the product design stage, the benefits of eco design are significant in terms of environmental sustainability. <br> <br> In addition to that, it provides companies with measurable advantages compared to other actors in the same sector; such as brand enhacement, product innovation, compliance, risk management, product differention and cost reductions. <br> <br>In compliance with the above cited criteria and in full cooperation with Ersa’s design and production teams, BoXer and PE International are currently working on the project.<br><br>The future outcome of the latter; “Ersa’s Green Line” could consist of some the “greenest” furnitures ever produced and marketed in Turkey.
                        a(href="#").ems-flex.ems-flex-middle.m-lg-t-62.color-red.font-weight-bold
                                span Sustainability Report
                                +icon('right-arrow')
                    .ems-grid-item
                        +picture('ems-responsive', 'no', 'http://via.placeholder.com/400x466', 'http://via.placeholder.com/800x932', 'http://via.placeholder.com/1200x1398')
            .m-lg-t-100
                .ems-container-small.p-lg-r-60
                    h3.font-size-32.font-weight-bold.m-t-40 Designers
                    p.font-size-20.line-height-28.m-0.m-t-10 Driven by its passion for good design since the very beginning, Ersa collaborates with numerous Turkish and international designers, and also offers designs by some of the leading brands to the Turkish market through global partnerships. <br> <br> As the winner of more than fifty prestigious local and international awards, Ersa believes in the power of good design and addresses design together with the idea behind it, developing and masterfully crafting products to offer users new and unique experiences beyond function.
                .m-lg-t-80.m-t-40
                    ul.ems-flex.ems-flex-wrap.ems-flex-our-story-list
                        -for (var y = 1; y <= 12; y++)
                            li.ems-list-item.m-b-30.m-lg-b-80
                                .ems-card
                                    .ems-card-image.ems-responsive.m-b-30
                                        +image('lazy', 'https://via.placeholder.com/290x308/DDDDDD/000000')(class="ems-responsive-item")
                                    .ems-card-title.font-size-15.ems-text-center Burak Kocak
                                    +link('')(href="#" class="ems-prd-link btn-full")
    .our-story-row-4.p-t-60.p-b-30.p-lg-t-80.p-lg-b-0.m-b-30.m-lg-b-0.m-t-100.m-lg-t-0
        .ems-container
            .p-lg-l-110
                .ems-container-small
                    article.p-lg-r-60.p-lg-b-80
                        h3.font-size-32.font-weight-bold Awards
                        p.font-size-20.line-height-25.m-lg-t-10.m-b-0 Driven by its passion for good design since the very beginning, Ersa collaborates with numerous Turkish and international designers, and also offers designs by some of the leading brands to the Turkish market through global partnerships. 
    .our-story-minus-content
        .ems-container
            .p-lg-l-110
                .our-story-wrapper
                    ul.ems-flex.ems-flex-wrap.ems-flex-our-story-list
                        -for (var y = 1; y <= 16; y++)
                            li.ems-list-item.m-b-10.m-lg-b-30
                                .ems-card
                                    .ems-card-image.ems-responsive.m-b-30
                                        +image('lazy', 'https://via.placeholder.com/220x335/DDDDDD/000000')(class="ems-responsive-item")
                                    .ems-card-title.font-size-15.ems-text-center GEO
                                    +link('')(href="#" class="ems-prd-link btn-full")
                    .ems-flex.ems-flex-center
                        a(href="#").ems-flex.ems-flex-middle.m-t-60.m-lg-t-40.color-red.font-weight-bold
                            span Show more
                            +icon('plus')