extends includes/_layout.pug


block prepend head
    - var pageClass = "page our-solution-partners-cappellini"
    - var fixedClass = " fixed "

block content
    .ems-breadcrumb-absolute
        include includes/_breadcrumb.pug
    a(href="#1" class="banner display-block")
        .banner-image
            +picture('ems-responsive', 'no', 'http://via.placeholder.com/375x667', 'http://via.placeholder.com/750x1334', 'http://via.placeholder.com/2880x1580')
        .banner-content
            h1.color-white.font-size-32.font-size-lg-36.line-height-37.font-weight-bold Cappellini
    
    //OUR PARTNER CAPPELLİNİ GRID
    .ems-container-small.m-r-auto.m-l-auto.p-lg-r-60.m-lg-t-80.m-t-30
        article.p-l-20.p-r-20.p-lg-l-0.p-lg-r-0
            .m-b-60
                h4.font-size-20.line-height-24 ERSA is a reseller of Italian design firm Cappellini in Turkey since 2015.
            article
                .m-b-20
                    +image('lazy', 'upload/logo/cappellini.svg')(alt="cappelini")
                p.font-size-16.line-height-24.m-0 Founded in 1946, Cappellini has evolved through the years into a sought-after brand of contemporary and avant-garde design by manufacturing innovative furniture of the highest quality. Cappellini, which manufactures modular furniture and provides solutions for residential and office spaces, is known for combining design and advanced technologies with traditional craftsmanship. Cappellini collections, characterized by experimentation and exploration of new ways of living, can furnish the whole domestic landscape from the living room to the studio…
            p.display-lg-none.color-red.font-size-15.m-t-42.m-b-0.ems-flex.ems-flex-middle View More
                +icon('plus')
    .ems-container-lg.m-t-60.m-lg-t-80
        .p-l-20.p-r-20.p-lg-l-0.p-lg-r-0
            article
                p.font-size-17.m-0 Products from <br> 
                h3.font-size-32.font-weight-bold.m-t-10 Cappellini
            .ems-tab.m-t-40
                .ems-tab-header
                    a(href="javascript:void(0);" rel="tab-1").selected All Products
                    a(href="javascript:void(0);" rel="tab-2") Sofas & Chairs
                    a(href="javascript:void(0);" rel="tab-3") Desks & Tables
                    a(href="javascript:void(0);" rel="tab-4") Accessories
                .ems-tab-content.m-t-40
                    div(rel="tab-1").selected
                        .ems-flex.ems-flex-wrap.ems-flex-cappellini-list
                            -for (var y = 1; y <= 9; y++)
                                .ems-list-item.m-b-40
                                    .ems-card
                                        .ems-card-image.m-b-20
                                            +picture('ems-responsive', 'no', 'http://via.placeholder.com/400x400', 'http://via.placeholder.com/800x800', 'http://via.placeholder.com/1200x1200')
                                        .ems-card-title.ems-text-center.font-size-16 Magnolia
                    div(rel="tab-2") tab content 2
                    div(rel="tab-3") tab content 3
                    div(rel="tab-4") tab content 4