extends includes/_layout.pug

block prepend head
    - var pageClass = "page career"
   

block content
    .ems-container-lg
        .d-ems-grid.d-ems-grid-cover-top
            .d-ems-area-a
                include includes/_breadcrumb.pug
            .d-ems-area-c
                h1.m-lg-t-80.m-lg-b-40.font-size-32.line-height-36.font-weight-bold Product Images
    //PRODUCT LIST GRID
    .ems-container-lg
        .ems-prd-list.ems-prd-list-page.ems-section.m-t-10.m-lg-t-0
            ul.ems-flex.ems-flex-wrap.ems-flex-prd-list-wrapper
                +product('', 'Polar', 'https://via.placeholder.com/800x800/DDDDDD/000000', 'by Ersa R&D + Design Team')
                +product('', 'Likhia', 'https://via.placeholder.com/800x800/DDDDDD/000000', '')
                +product('', 'Risus', 'https://via.placeholder.com/800x800/DDDDDD/000000', 'by Ersa R&D + Design Team')
                +product('', 'Dark', 'https://via.placeholder.com/800x800/DDDDDD/000000', '')
                +product('', 'Magnolia', 'https://via.placeholder.com/800x800/DDDDDD/000000', 'by Ersa R&D + Design Team')
                +product('', 'Denver', 'https://via.placeholder.com/800x800/DDDDDD/000000', '')