extends includes/_layout.pug

block prepend head
    - var pageClass = "page page-detail"
    - var fixedClass = " fixed fixed-dark"

block content
    .ems-container-full
        //PRODUCT DETAIL
        .ems-prd-detail.ems-section
            .ems-prdd
                .ems-prdd-grid.d-ems-grid
                    .ga1
                        .ems-breadcrumb-absolute
                            include includes/_breadcrumb.pug
                        //NAV END
                        .ems-prdd-media
                            .swiper-container.slider-pagination.slider-pagination2.slider-navigation(data-swiper="widgetAuto")
                                .swiper-inner
                                    ul.swiper-wrapper
                                        li.swiper-slide
                                            .banner
                                                .prm-media.ems-responsive
                                                    +image('lazy-swiper', 'https://via.placeholder.com/1620x1400/ddd/000')(class="ems-responsive-item" alt='title')
                                        li.swiper-slide
                                            .banner
                                                .prm-media.ems-responsive
                                                    +image('lazy-swiper', 'https://via.placeholder.com/1620x1400/ddd/ff0')(class="ems-responsive-item" alt='title')
                                        li.swiper-slide
                                            .banner
                                                .prm-media.ems-responsive
                                                    +image('lazy-swiper', 'https://via.placeholder.com/1620x1400/ddd/f00')(class="ems-responsive-item" alt='title')
                                .swiper-button-next
                                .swiper-button-prev
                                .swiper-pagination.ems-mobile
                    .ga2
                        .ems-prdd-body.m-lg-auto.p-l-20.p-r-20.p-t-30.p-lg-l-10.p-lg-r-10.p-lg-t-0
                            h1.ems-prdd-title Magnolia
                            h2.ems-prdd-subtitle.m-t-10
                                |by Studio Balutto Associati
                            h3.ems-prdd-desc.m-t-30.m-lg-t-50
                                |Providing comfortable seating with its curved back design and seating font that surrounds the user, Polar family chair series offers a contemporary look with its wooden and transmission legs and different backrest size alternatives.
                            .ems-prdd-request.m-t-20.m-lg-t-60
                                a(href="javascript:void(0);" class="btn btn-default btn-size100 border-circle-4")
                                    span Request #{'for'} a Quote 
                            .ems-prdd-share.ems-flex.ems-flex-middle.ems-flex-between.m-t-10.m-lg-t-30
                                a(href="javascript:void(0);" class="ems-flex ems-flex-middle p-y-10")
                                    span.m-r-5 Download Files
                                    +icon('download')
                                a(href="javascript:void(0);" class="ems-flex ems-flex-middle p-y-10")
                                    span.m-r-5 Share
                                    +icon('size')
                .ems-section.p-lg-l-60.m-t-30.m-lg-t-60.ems-overflow-hidden
                    .swiper-container.slider-pagination.slider-progressbar.p-b-20.p-lg-b-30.p-l-15.p-r-15.p-lg-l-0.p-lg-r-0(data-swiper="WidgetProgressbar")
                        .swiper-inner.ems-overflow-visible
                            ul.swiper-wrapper
                                li.swiper-slide
                                    .banner.p-5.p-lg-20
                                        .prm-media.ems-responsive
                                            +image('lazy-swiper', 'https://via.placeholder.com/840x620/ff0/f00')(class="ems-responsive-item" alt='title')
                                li.swiper-slide
                                    .banner.p-5.p-lg-20
                                        .prm-media.ems-responsive
                                            +image('lazy-swiper', 'https://via.placeholder.com/840x620/ff0/f00')(class="ems-responsive-item" alt='title')
                                li.swiper-slide
                                    .banner.p-5.p-lg-20
                                        .prm-media.ems-responsive
                                            +image('lazy-swiper', 'https://via.placeholder.com/840x620/ff0/f00')(class="ems-responsive-item" alt='title')
                        .swiper-button-next.ems-none
                        .swiper-button-prev.ems-none
                        .swiper-pagination
                //WIDGET INCLUDE
                include includes/_widget-products.pug
                //DETAIL TABS
                .ems-tab.ems-tab-prdd.ems-overflow-hidden
                    .swiper-container.swiper-auto(data-swiper="widgetAuto")
                        .swiper-inner.ems-overflow-visible
                            ul.swiper-wrapper.ems-tab-header.ems-tab-prdd-detail-header
                                a(href="javascript:void(0);" rel="tab-1" class="swiper-slide selected") Specifications
                                a(href="javascript:void(0);" rel="tab-2" class="swiper-slide") Material & Finishes
                                a(href="javascript:void(0);" rel="tab-3" class="swiper-slide") Downloads
                    .ems-tab-content
                        div(rel="tab-1" class="selected")
                            .tab-content-header.p-l-20.p-r-20.p-b-10
                                span.display-block.title.m-t-20.m-lg-t-40 Dimensions
                                p.desc
                                    |All technical image and dimensions included in the technical sheet subject to change without notice, it is suggested to be verified all information by contacting the sales representative.
                            .ems-flex.m-t-20.ems-prdd-groups
                                .col-1.p-l-20
                                    span.display-block Magnolia Chair
                                    ul.ems-flex.ems-flex-wrap.ems-prdd-options
                                        li
                                            span H
                                            span 30
                                        li 
                                            span W
                                            span 20
                                        li
                                            span D
                                            span 20
                                .col-2.p-lg-l-20
                                    .swiper-container.swiper-container-groups(data-swiper="widgetAuto")
                                        .swiper-inner
                                            ul.swiper-wrapper
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s1.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s2.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s3.jpg')
                            .ems-flex.m-t-20.ems-prdd-groups
                                .col-1.p-l-20
                                    span.display-block with Armrests
                                    ul.ems-flex.ems-flex-wrap.ems-prdd-options
                                        li
                                            span H
                                            span 30
                                        li 
                                            span W
                                            span 20
                                        li
                                            span D
                                            span 20
                                .col-2.p-lg-l-20
                                    .swiper-container.swiper-container-groups(data-swiper="widgetAuto")
                                        .swiper-inner
                                            ul.swiper-wrapper
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s1.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s2.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s3.jpg')
                            .ems-flex.m-t-20.ems-prdd-groups
                                .col-1.p-l-20
                                    span.display-block Metal Legs
                                    ul.ems-flex.ems-flex-wrap.ems-prdd-options
                                        li
                                            span H
                                            span 30
                                        li 
                                            span W
                                            span 20
                                        li
                                            span D
                                            span 20
                                .col-2.p-lg-l-20
                                    .swiper-container.swiper-container-groups(data-swiper="widgetAuto")
                                        .swiper-inner
                                            ul.swiper-wrapper
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s1.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s2.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s3.jpg')
                            .ems-flex.m-t-20.ems-prdd-groups
                                .col-1.p-l-20
                                    span.display-block Woodbase
                                    ul.ems-flex.ems-flex-wrap.ems-prdd-options
                                        li
                                            span H
                                            span 30
                                        li 
                                            span W
                                            span 20
                                        li
                                            span D
                                            span 20
                                .col-2.p-lg-l-20
                                    .swiper-container.swiper-container-groups(data-swiper="widgetAuto")
                                        .swiper-inner
                                            ul.swiper-wrapper
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s1.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s2.jpg')
                                                li.swiper-slide
                                                    +image('no','upload/detail-tab-prd/s3.jpg')
                        div(rel="tab-2")
                            .ems-tab.ems-tab-materials.p-l-20.p-r-20.p-lg-t-20
                                .ems-flex.ems-flex-middle.ems-tab-header
                                    span.m-r-20 Type
                                    a(href="javascript:void(0);" rel="mattab-1") Metal
                                    a(href="javascript:void(0);" rel="mattab-2") Fabrics
                                    a(href="javascript:void(0);" rel="mattab-3") Leather
                                .ems-tab-content
                                    div(rel="mattab-1")
                                        .ems-tab-materials-color.m-t-30
                                            .ems-flex.ems-flex-middle.ems-flex-between.ems-tab-materials-head
                                                span Category A
                                                a(href="javascript:void(0);" class="control-click display-inline-flex ems-flex-middle")
                                                    span.sp1.m-r-10 More
                                                    span.sp2.m-r-10 Less
                                                    +icon('plus')
                                            ul.ems-flex.ems-flex-wrap.ems-tab-materials-color-content
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 442
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 762
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 116
                                        .ems-tab-materials-color.m-t-30
                                            .ems-flex.ems-flex-middle.ems-flex-between.ems-tab-materials-head
                                                span Category B
                                                a(href="javascript:void(0);" class="control-click display-inline-flex ems-flex-middle")
                                                    span.sp1.m-r-10 More
                                                    span.sp2.m-r-10 Less
                                                    +icon('plus')
                                            ul.ems-flex.ems-flex-wrap.ems-tab-materials-color-content
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 962
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 610
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 426
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 442
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 762
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 116
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 116
                                    div(rel="mattab-2")
                                        .ems-tab-materials-color.m-t-30
                                            .ems-flex.ems-flex-middle.ems-flex-between.ems-tab-materials-head
                                                span Category A
                                                a(href="javascript:void(0);" class="control-click display-inline-flex ems-flex-middle")
                                                    span.sp1.m-r-10 More
                                                    span.sp2.m-r-10 Less
                                                    +icon('plus')
                                            ul.ems-flex.ems-flex-wrap.ems-tab-materials-color-content
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 442
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 762
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 116
                                        .ems-tab-materials-color.m-t-30
                                            .ems-flex.ems-flex-middle.ems-flex-between.ems-tab-materials-head
                                                span Category B
                                                a(href="javascript:void(0);" class="control-click display-inline-flex ems-flex-middle")
                                                    span.sp1.m-r-10 More
                                                    span.sp2.m-r-10 Less
                                                    +icon('plus')
                                            ul.ems-flex.ems-flex-wrap.ems-tab-materials-color-content
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 442
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 762
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 116
                                    div(rel="mattab-3")
                                        .ems-tab-materials-color.m-t-30
                                            .ems-flex.ems-flex-middle.ems-flex-between.ems-tab-materials-head
                                                span Category A
                                                a(href="javascript:void(0);" class="control-click display-inline-flex ems-flex-middle")
                                                    span.sp1.m-r-10 More
                                                    span.sp2.m-r-10 Less
                                                    +icon('plus')
                                            ul.ems-flex.ems-flex-wrap.ems-tab-materials-color-content
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 442
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 762
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 116
                                        .ems-tab-materials-color.m-t-30
                                            .ems-flex.ems-flex-middle.ems-flex-between.ems-tab-materials-head
                                                span Category B
                                                a(href="javascript:void(0);" class="control-click display-inline-flex ems-flex-middle")
                                                    span.sp1.m-r-10 More
                                                    span.sp2.m-r-10 Less
                                                    +icon('plus')
                                            ul.ems-flex.ems-flex-wrap.ems-tab-materials-color-content
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 442
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 762
                                                li
                                                    +image('no','https://via.placeholder.com/105x70/FFFF00/000000')
                                                    span 116
                        div(rel="tab-3")
                            div(class="p-l-20 p-r-20 p-t-40")
                                |Test
                //RELATED PRODUCT
                .related-projects.ems-section.m-t-40.m-lg-t-80
                    .p-l-20.p-t-40.p-r-20.p-lg-l-60.p-lg-t-80.p-lg-r-60
                        .ems-section-title1.p-lg-r-20.p-lg-l-20.p-b-10.p-lg-b-20
                            |Related Projects
                        ul.ems-flex.ems-flex-wrap.width-100
                            li.p-lg-20
                                .banner
                                    a(href="javascript:void(0)" class="display-block")
                                        +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                                        .banner-inset.p-t-20.p-b-20.p-lg-t-50.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                            span.prm-title-medium.m-r-10 Zai Bodrum
                                            span.prm-title-small Bodrum, Turkey
                            li.p-lg-20
                                .banner
                                    a(href="javascript:void(0)" class="display-block")
                                        +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                                        .banner-inset.p-t-20.p-b-20.p-lg-t-50.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                            span.prm-title-medium.m-r-10 Zai Jackson Park
                                            span.prm-title-small Queens, USA
                            li.p-lg-20
                                .banner
                                    a(href="javascript:void(0)" class="display-block")
                                        +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                                        .banner-inset.p-t-20.p-b-20.p-lg-t-50.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                            span.prm-title-medium.m-r-10 Bodrum Mariot Edition
                                            span.prm-title-small Minsk, Belarus
                            li.p-lg-20
                                .banner
                                    a(href="javascript:void(0)" class="display-block")
                                        +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                                        .banner-inset.p-t-20.p-b-20.p-lg-t-50.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                            span.prm-title-medium.m-r-10 Ronesans Medikal İnsaat
                                            span.prm-title-small Ronesans Medikal İnsaat