extends includes/_layout.pug

block prepend head
    - var pageClass = "page projects"
   

block content    
    .ems-container-lg
        include includes/_breadcrumb.pug
    .ems-container
        .ems-container-small.m-lg-t-80.m-lg-b-40.p-lg-r-60
            h1.font-weight-bold.font-size-32.line-height-36.m-b-20.m-t-30 Projects
            p.font-size-20.line-height-28.m-0 Providing comfortable seating with its curved back design and seating font that surrounds the user, Polar family chair series…
            nav.m-t-40.m-lg-t-80
                ul.ems-flex.ems-flex-wrap.ems-flex-middle
                    li.p-r-20
                        p.color-red.font-size-17 All Projects
                    li.p-r-20
                        p.color-gray.font-size-17.edit-icon Sector +
        .ems-flex.ems-flex-wrap.ems-flex-projects-list.m-t-20
            -for (var y = 1; y <= 8; y++)
                .ems-list-item.m-b-40
                    .ems-card
                        .ems-card-image.ems-responsive.m-lg-b-40.m-b-20
                            +image('lazy', 'http://via.placeholder.com/1240x1036')(class="ems-responsive-item")
                        .ems-card-title.ems-flex.ems-flex-wrap.ems-flex-top.d-ems-flex-middle.ems-flex-column.d-ems-flex-row
                            span.font-size-20.font-weight-bold.m-lg-r-20.m-b-5.m-lg-b-0 Catalog Work 2020
                            small.font-size-14 Bodrum, Turkey