extends includes/_layout.pug

block prepend head
    - var pageClass = "page projects"
   

block content
    .ems-container.p-0
        include includes/_breadcrumb.pug
    .ems-container-lg
        h1.font-size-lg-32.font-size-32.line-height-lg-36.line-height-36.m-lg-t-80.m-lg-b-20.font-weight-bold Projects
        .ems-container-small
            p.m-lg-b-80.font-size-lg-20.line-height-lg-28.m-lg-r-60 Providing comfortable seating with its curved back design and seating font that surrounds the user, Polar family chair series…
    .ems-container-lg
        nav
            ul.d-ems-flex.ems-flex.auto-scroll.m-lg-b-43
                li.p-r-20.d-font-size-17.color-red.font-size-17
                    p All Projects
                li.p-r-20.d-font-size-17.color-gray.font-size-17
                    p.display-lg-inline-flex.d-ems-flex-center Sector
                        +icon('plus')
    .related-projects.ems-section.bg-color-grid
        .p-l-20.p-r-20.p-lg-l-60.p-lg-r-60
            ul.ems-flex.ems-flex-wrap.width-100
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Zai Bodrum
                                span.prm-title-small Bodrum, Turkey
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Zai Jackson Park
                                span.prm-title-small Queens, USA
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Bodrum Mariot Edition
                                span.prm-title-small Minsk, Belarus
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Ronesans Medikal İnsaat
                                span.prm-title-small Ronesans Medikal İnsaat
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Ronesans Medikal İnsaat
                                span.prm-title-small Ronesans Medikal İnsaat
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Ronesans Medikal İnsaat
                                span.prm-title-small Ronesans Medikal İnsaat
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Ronesans Medikal İnsaat
                                span.prm-title-small Ronesans Medikal İnsaat
                li.p-lg-20
                    .banner
                        a(href="javascript:void(0)" class="display-block")
                            +picture('ems-responsive', 'no', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/335x280/FFFF00/000000', 'https://via.placeholder.com/670x560/FFFF00/000000')
                            .banner-inset.p-t-20.p-b-20.p-lg-t-40.p-lg-b-30.ems-flex.ems-flex-bottom.ems-flex-wrap
                                span.prm-title-medium.m-r-20 Ronesans Medikal İnsaat
                                span.prm-title-small Ronesans Medikal İnsaat