extends includes/_layout.pug

block prepend head
    - var pageClass = "page space-and-solutions"
    - var fixedClass = " fixed"

block content
    .ems-container-full
        .ems-breadcrumb-absolute
            include includes/_breadcrumb.pug
        .ems-flex
            +picture('ems-responsive', 'no', 'upload/home-page-slide/mnSlide1x1.jpg', 'upload/home-page-slide/mnSlide1x2.jpg', 'upload/home-page-slide/mnSlide1.jpg')
        .ems-container-lg
            .ems-flex.ems-flex-column.space-and-solutions-logo.p-t-80.p-l-80
                img(src='https://via.placeholder.com/230x75')
                span.m-t-40.font-size-16 Providing comfortable seating with its curved back design and seating font that surrounds the user, Polar family chair series offers a contemporary look with its wooden and transmission legs and different backrest size alternatives.
            .ems-tab.ems-overflow-hidden.p-t-80
                .swiper-container.swiper-auto(data-swiper="widgetAuto")
                    .swiper-inner.ems-overflow-visible
                        ul.swiper-wrapper.ems-tab-header.ems-tab-space-and-solutions-header.p-0
                            a(href="javascript:void(0);" rel="tab-1" class="swiper-slide selected p-l-0 .font-size-24") Concepts
                            a(href="javascript:void(0);" rel="tab-2" class="swiper-slide .font-size-24") Materials
                .ems-tab-content
                    div(rel="tab-1" class="selected tab-1")
                        .ems-flex.ems-flex-column.d-ems-flex-row.m-t-20.ems-space-and-sollutions-tab
                            .col-1.p-r-20
                                ul
                                    li.p-b-40
                                        div.position-relative
                                            +image('no','https://via.placeholder.com/1240x1040')
                                            .ems-flex.ems-flex-column.position-absolute.ems-tab-space-and-solutions-content
                                                span.ems-tabs-title.font-size-20.color-white Meeting Room
                                                p.ems-tab-link.font-size-15.p-t-15.color-white Discover
                                            a(href="#" class="btn-full")
                                    li.p-b-40
                                        div.position-relative
                                            +image('no','https://via.placeholder.com/1240x1440')
                                            .ems-flex.ems-flex-column.position-absolute.ems-tab-space-and-solutions-content
                                                span.ems-tabs-title.font-size-20.color-white Creative Spaces
                                                p.ems-tab-link.font-size-15.p-t-15.color-white Discover
                                            a(href="#" class="btn-full")
                            .col-2.p-lg-l-20
                                ul
                                    li.p-b-40
                                        div.position-relative
                                            +image('no','https://via.placeholder.com/1240x1440')
                                            .ems-flex.ems-flex-column.position-absolute.ems-tab-space-and-solutions-content
                                                span.ems-tabs-title.font-size-20.color-white Learning Spaces
                                                p.ems-tab-link.font-size-15.p-t-15.color-white Discover
                                            a(href="#" class="btn-full")
                                    li.p-b-40
                                        div.position-relative
                                            +image('no','https://via.placeholder.com/1240x1040')
                                            .ems-flex.ems-flex-column.position-absolute.ems-tab-space-and-solutions-content
                                                span.ems-tabs-title.font-size-20.color-white Meeting Room
                                                p.ems-tab-link.font-size-15.p-t-15.color-white Discover
                                            a(href="#" class="btn-full")
                    div(rel="tab-2" class="tab-2")
                        .ems-flex.m-t-20.ems-space-and-sollutions-tab
                            .col-1.p-r-20
                                ul
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1240')
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1628')
                            .col-2.p-lg-l-20
                                ul
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1628')
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1240')
                        .ems-flex.p-t-80.p-b-80.ems-flex-tab-line
                            .line
                        .ems-flex.m-t-20.ems-space-and-sollutions-tab
                            .col-1.p-r-20
                                ul
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1240')
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1628')
                            .col-2.p-lg-l-20
                                ul
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1628')
                                    li.p-b-40
                                        +image('no','https://via.placeholder.com/1240x1240')