extends includes/_layout.pug

block prepend head
    - var pageClass = "page space-and-solutions-details"
    - var fixedClass = " fixed"

block content
    .ems-container-full
        .ems-container-lg
            .ems-breadcrumb-absolute
                include includes/_breadcrumb.pug
        .ems-flex.solutions-title.position-relative
            +picture('ems-responsive', 'no', 'src/images/home-page-slide/mnSlide1x1.jpg', 'upload/home-page-slide/mnSlide1x2.jpg', 'upload/home-page-slide/mnSlide1.jpg')
            .title.position-absolute.font-size-36.font-weight-bold.color-white Creative spaces
        .ems-container-lg
            .ems-flex.space-and-solutions-logo.m-lg-t-80.m-lg-b-80.ems-container-small.p-l-20.p-r-20.m-b-30.m-t-30
                span.font-size-20.line-height-28 A contemporary meeting room should create an inspirational and inviting atmosphere, whether it’s a formal setting or a creative space. Explore our products and tranform your space.
            .ems-flex.ems-flex-column
                .col-1
                    ul.ems-flex.ems-flex-column.d-ems-flex-row
                        li.p-b-40.p-r-20
                            +image('no','https://via.placeholder.com/1240x1440')
                        li.p-b-40.p-l-20
                            +image('no','https://via.placeholder.com/1240x1040')
                .col-2.p-lg-l-20.p-lg-r-20
                    +image('no','https://via.placeholder.com/2120x1400')
            .space-and-solutions-details-widget
                //WIDGET INCLUDE
                include includes/_widget-products.pug

