.contact-us {
    .new-and-stories {
        span {
            width: 700px;
            line-height: 30px;
        }
    }
    &-content {
        flex-direction: row;
        padding: 0 220px;
        form {
            width: 100%;
        }
        .form-group {
            position: relative;
            width: 50%;
        }
        .icon {
            position: absolute;
            right: 30px;
            top: 22px;
        }
        textarea {
            height: 200px;
            border: unset !important;
        }
        input {
            width: 330px !important;
            border: unset !important;
        }
        .contact-us-privacy {
            p {
                max-width: 365px;
                a {
                    &:last-child {
                        text-decoration: underline;
                        padding-left: 5px;
                    }
                }
            }
            .privacy_link {
                &:before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background: #fff;
                    border-radius: 100%;
                    position: absolute;
                    left: 6px;
                    top: 21px;
                }
                span {
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                    border: 1px solid #babfc2;
                    margin-right: 15px;
                    display: inline-flex;
                }
            }
            .privacy_link.selected {
                span {
                    background: #2b2a2a;
                    border: none;
                }
            }
            button {
                width: 335px;
                border-radius: 5px;
            }
        }
    }
    .font-size {
        &-32 {
            font-size: 32px;
        }
        &-20 {
            font-size: 20px;
        }
        &-14 {
            font-size: 14px;
        }
    }
    .font-weight {
        &-bold {
            font-weight: bold;
        }
    }
}