.prm-link-text {
    display: flex;
    width: 100%;
}
.cappa {
    color: #2b2a2a;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    margin: 20px 0px 40px 20px;
    width: 100%;

    
    i {
        margin-left: auto;
        margin-right: 25px;
        
    }
}
.new-m-title-h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0;
    width: 205px;
    margin: 30px 0 20px 0;
    color: #2b2a2a;
    font-weight: bold;
}
