.mobile-renctangle {
    width: 2px;
    height: 60px;
    opacity: 0.3;
    background-color: rgba(43, 42, 42, 0.4);
    position: absolute;
    top: 40%;
    content: '';
    left: 93%;
    z-index: 999;
}

.mobile-mini-renctangle {
    width: 2px;
    height: 26px;
    background-color: #ffffff;
    content: '';
    z-index: 999;
}

.mobile-mini-renctangle {
    position: relative;
    animation: mymove 1s infinite;
}

body.our-solution-partners-cappellini {
    .ems-tab {
        .ems-tab-header {
            a {
                font-size: 17px;
                color: $color7;

                &.selected,
                &:hover {
                    color: $color3; 
                }
            }
        }
    }
}

.m-width-jackson {
    max-width: 363px;
    overflow: hidden;
}
.jackson-h1 {
    width: 2px;
    height: 60px;
    opacity: 0.3;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    left: 50%;
    
}
.jackson-small {
    width: 2px;
    height: 26px;
    background-color: #ffffff;
    animation: mymove 1s infinite;
    position: absolute;
    right: 0;
    left: 50%;
}
.scroll-down
{
    position: absolute;
    left: 50%;
    top: 255px;
}
.ems-new-tab-header {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
}