@include ourStoryGrid(auto, 620px, 110px, 1);
@include ourStoryGrid(auto, 400px, 150px, 2);
@include ourStoryGrid(auto, 510px, 70px, 3);
@include ourStoryGrid(auto, 580px, 80px, 4);
@include ourStoryGrid(auto, 400px, 100px, 5);

.our-story {
    &-row-1 {
        margin-bottom: -80px;
    }

    &-row-2 {
        padding-top: 200px;
        padding-bottom: 180px;

        &:before{
            width: calc(100% - 160px);
        }
    }

    &-row-3 {
        height: 818px;

        &:before {
            width: calc(100% - 300px);
        }
    }

    &-row-4 {
        height: 535px;

        &:before {
            right: 0;
            left: auto;
            width: calc(100% - 80px);
        }
    }
}