$m150: 150px;

.page {
    width: 100%;
    height: 100%;
}

//GRIDS BANNERS
.ems-flex-banners{
    > li{
        &:nth-child(2){
            margin-top: -17%;
            .col{
                &:nth-child(2){
                    margin-top: auto;
                }
            }
        }
        .col{
            width:50%;
            &:nth-child(1){
                padding-right: 55px;
            }
            &:nth-child(2){
                padding-left: 55px;
            }
        }
    }
    //HOME PAGE THREE COLUMN
    &-column-three{
        > li{
            width: 33.333%; 
            margin-bottom: 60px;
            .btn-icon{
                color: $color255;
            }
        }
    }
}
//VARIEBLES BACKGROUND
.background-dark-light{
    background-color: $color1;
    .ems-section-title {
        color: $color255;
    }
}