.ems-prdd {
    &-title {
        font-family: $font-family2;
        font-size: $font-size-32;
    }
    &-subtitle {
        font-size: 15px;
    }
    &-desc {
        font-size: $font-size-16;
        line-height: $font-size-24;
    }
    &-share {
        >a {
            font-family: $font-family2;
            font-size: 15px;
        }
    }
    &-groups {
        >div {
            width: 50%;
            >span {
                font-size: $font-size-16;
                margin-bottom: 10px;
            }
        }
    }
    &-options {
        li {
            width: 100%;
            margin-bottom: 10px;
            span {
                display: inline-flex;
                &:nth-child(1) {
                    min-width: 20px;
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    font-family: $font-family2;
                }
            }
        }
    }
}

//Tab
.ems-tab {
    $m10: 10px;
    &-prdd {
        .swiper-container {
            border-bottom: 1px solid #e5e5e5;
        }
        &-detail-header {
            padding: 0 10px;
            >a {
                font-family: $font-family;
                font-size: $font-size-20;
                padding: 20px 10px;
                color: $color7;
                &.selected {
                    color: $color1;
                    font-family: $font-family2;
                }
            }
        }
        .title {
            font-size: $font-size-20;
        }
        .desc {
            font-size: $font-size-16;
            line-height: 24px;
        }
    }
    &-materials {
        .ems-tab-header {
            padding: 13px 0;
            >span {
                font-family: $font-family2;
                font-size: 17px;
            }
            >a {
                color: $color7;
                padding: 10px;
                &.selected {
                    color: $color1;
                    font-family: $font-family2;
                    text-decoration: underline;
                }
            }
        }
        &-head {
            >span,
            >a {
                font-family: $font-family2;
            }
            >span {
                font-size: $font-size-20;
            }
        }
        &-color {
            border-bottom: 1px solid $color2;
            padding-bottom: 20px;
            &-content {
                max-height: 115px;
                overflow: hidden;
                margin-left: -#{$m10};
                li {
                    max-width: 105px;
                    margin-left: $m10;
                    margin-top: 15px;
                    img {
                        border-radius: 4px;
                    }
                    span {
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
            >div {
                >a {
                    span.sp2 {
                        display: none;
                    }
                }
            }
            &.selected {
                >ul {
                    max-height: max-content;
                    overflow: visible;
                }
                >div {
                    >a {
                        span.sp1 {
                            display: none;
                        }
                        span.sp2 {
                            display: block;
                        }
                        i:before {
                            content: '\e90f';
                        }
                    }
                }
            }
        }
    }
}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    .modal-content {
        width: 355px;
        height: 400px;
        position: relative;
        margin: 5% auto;
        // transform: translate(-50%, -50%);
        // padding: 2em;
        background: #ddd;
        .modal-body {
            text-align: center;
            margin: auto;
            div {
                &:first-child {
                    img {
                        max-width: 120px;
                    }
                }
            }
            .ems-social {
                ul {
                    li {
                        border: 1px solid #eff2f3;
                        border-radius: 5px;
                        img {
                            border-radius: 5px;
                        }
                    }
                }
            }
            .ems-url {
                input {
                    font-size: 14px;
                    border: 1px solid #eff2f3;
                    border-radius: 5px;
                    padding-left: 20px;
                }
            }
        }
    }
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}