//PAGE LIST COVER
.d-ems-grid{
    &-cover-text{
        margin-top: 20px;
    }
}

//FILTER
.ems-filter {

    &-trigger {
        font-family: $font-family2;
        font-size: $font-size-13;
        margin-top: 10px;
    }

    .modal-footer{
        a{
            width: 50%;
            text-align: center;
            height: 50px;
            line-height: 50px;
            &.btn-filter-clear{
                max-width: 140px;
            }
            &.btn-filter-apply{
                max-width: 190px;
            }
            
        }
    }
    
    ul{
        li{
            a{
                padding: 10px 0;
                &.filter_link{
                    span{
                        @extend .display-inline-flex;
                        @extend .ems-flex-middle;
                        @extend .ems-flex-center;
                        vertical-align: middle;
                        width: 20px;
                        height: 20px;
                        border-radius: 2px;
                        border: 1px solid $color7;
                        margin-right: 15px;
                    }
                    &.selected{
                        span{
                            background: $color1;
                            border: none;
                            &:before{
                                content: '';
                                width: 8px;
                                height: 8px;
                                background: $color255;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    ul.lvl-1{
        > li{
            &:not(:first-child){
                margin-top: 10px;
            }
            > a{
                font-family: $font-family2;
                font-size: 17px;
            }
        }
    }

    ul.lvl-2{
        > li{
            >a{
                font-size: 15px;
            }
        }
    }

    &-ready & {
        @extend %modal-full-ready-wrapper;
        @extend %modal-animate-wrapper-y;
    }

    &-animate {
        @extend %modal-full-animate;
    }
    &-animate & {
        @extend %modal-full-animate-wrapper-y;
        opacity: 1;
    }
}

//STYLES
.ems-product-styles{
    > a{
        font-size: $font-size-16;
    }
}

//LIST WRAPPER
.ems-flex{
    &-prd-list-wrapper{
        border-width: 1px 0 0 0;
        border-color: #f3f1ef;
        border-style: solid;
    }
}

//LIST PRODUCT
.ems-prd{
    width: 50%;
    border-width: 0 1px 1px 0;
    border-color: #f3f1ef;
    border-style: solid;
    position: relative;
    &-inner{
        position: relative;
        padding-bottom: 30px;
    }
    &-body{
        min-height: 70px;
        padding: 10px 20px 0 20px;
    }
    &:nth-child(odd){
        border-right-color: #f3f1ef;
    }   
    &:nth-child(even){
        border-right-color: transparent;
    }
    &-title{
        font-size: 15px;
        padding-top: 10px;
    }
    &-desc{
        font-size: $font-size-12;
    }
}

//LIST SEO
.ems-seo{
    padding: 0 20px;
    h3,
    .icon-down{
        color: $colorRGBA;
    }
    &-text{
        position: relative;
        max-height: 230px;
        overflow: hidden;
        p{
            color: $colorRGBA;
            line-height: 22px;
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
        }
    }
    .btn{
        margin-top: 20px;
    }
    &.show{
        .ems-seo-text{
            max-height: max-content;
            &:after{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}