.resources-page {
    .ems-prd-list {
        .ems-prd {
            width: 100%;
        }
    }
    .font-size {
        &-32 {
            font-size: 32px;
        }
        &-24 {
            font-size: 24px;
        }
    }
    .font-weight {
        &-bold {
            font-weight: bold;
        }
    }
}