.space-and-solutions-details {
    .solutions-title {
        .title {
            bottom: 10%;
            left: 7%;
            font-size: 30px;
        }
    }
    .col-1 {
        ul {
            li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .space-and-solutions-details-widget {
        .widget-products {
            .ems-container-full {
                padding: 0;
            }
        }
    }
}