.space-and-solutions-details {
    .solutions-title {
        .title {
            top: 50%;
            right: 40%;
            font-size: 30px;
        }
    }
    .col-1 {
        ul {
            li {
                padding-left: 20px;
            }
        }
    }
    .space-and-solutions-details-widget {
        .widget-products {
            .ems-container-full {
                padding: 0;
            }
        }
    }
}